$col-1: 20px;
$col-2: 110px;
$col-3: 325px;
$col-4: 540px;

$row-1: 20px; // title
$row-2: 110px; // secudary stats
$row-3: 185px; // lists
$row-4: 545px; // lists
$row-5: 760px;

.page {
  position: relative;
  display: flex;
  flex-direction: column;

  .content {
    width: 250mm !important;
    height: 350mm !important;
    border: 1px solid lightgray;
    margin: 1rem;
    position: relative;

    // &.fixed {
    //   position: relative;
    //   left: 50%;
    //   transform: translateX(-50%);
    //   margin-bottom: 1rem;
    //   page-break-after: always;
    // }
  }
}
