$col-1: 10px;
$col-2: 90px;
$col-3: 285px;
$col-4: 480px;

$row-1: 20px; // title
$row-2: 110px; // secudary stats
$row-3: 170px; // lists
$row-4: 476px; // lists

.page {
  position: relative;
  display: flex;
  flex-direction: column;

  .content {
    width: 21cm;
    height: 29.7cm;
    border: 1px solid orange;

    &.fixed {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 1rem;
      page-break-after: always;
    }
  }
}
