@import "./page";

.character-name {
  position: absolute;
  left: $col-1 + 30px;
  top: $row-1;
  font-size: 2rem;
}
.character-race,
.character-profession,
.character-xp,
.character-level {
  position: absolute;
  left: 300px;
  top: $row-1;
  width: 200px;
  & div {
    padding: 3px 10px;
  }
  &-name {
    border-bottom: 1px solid lightgray;
    font-size: 1.3rem;
  }
}
.character-profession {
  left: 530px;
}
.character-xp {
  left: 800px;
  width: 45px;
  div {
    text-align: center;
  }
}
.character-level {
  left: 850px;
  width: 45px;
  div {
    text-align: center;
  }
}

.skills {
  position: absolute;
  left: $col-2;
  top: $row-3;
}
.feats {
  position: absolute;
  left: $col-3;
  top: $row-3;
}

.resistances {
  position: absolute;
  left: $col-3;
  top: $row-4;
}
.weapons.list {
  position: absolute;
  left: $col-4;
  top: $row-3;
  width: 360px;

  table.list:not(:first-child) {
    margin-top: 1rem;
  }
}
.list table.list {
  border: none;
  position: relative;
  // left: $col-4;
  // top: $row-3;
  // width: 360px;
  width: 100%;

  td:last-child {
    text-align: left;
  }
}

.specials.list {
  border: none;
  position: absolute;
  left: $col-4;
  top: 330px;
  width: 360px;

  td:last-child {
    text-align: left;
  }
}

.spells {
  position: absolute;
  top: $row-5;
  margin: 1.5rem;

  td:first-child {
    width: 170px;
  }
}
