@import "./../color.scss";
.stack-panel {
  display: flex;
  flex-direction: row;

  & > * {
    padding: 1rem;
  }

  .master {
    flex-basis: 390px;
    width: 390px;

    li {
      padding: 5px;
      &:hover {
        cursor: pointer;
        background: $info;
      }
    }
  }
  .details {
    flex: 1;
  }
}
