@import "./../color";
@import "./page";

.statistics {
  position: absolute;
  left: $col-1;
  top: $row-2;
  width: 60px;

  .statistic {
    position: relative;
    border: 1px solid $primary;
    margin-bottom: 1rem;
    .title {
      padding: 3px;
      background: $primary;
      color: $white;
      text-align: center;
    }
    .value {
      font-size: 3em;
      text-align: center;
    }

    .total {
      position: absolute;
      bottom: -11px;
      left: 50%;
      transform: translateX(-50%);
      border: 1px solid gray;
      width: 30px;
      text-align: center;
      background: $gray-050;
      color: $primary;
    }
  }
}

.secundary-statistics {
  position: absolute;
  left: $col-2;
  top: $row-2;
  display: flex;
  flex-direction: row;

  .statistic {
    position: relative;
    border: 1px solid $primary;
    margin-bottom: 1rem;
    width: 60px;
    height: 50px;
    margin-right: 5px;

    .title {
      padding: 3px;
      background: $primary;
      color: $white;
      text-align: center;
    }
    .value {
      font-size: 1.5em;
      text-align: center;
    }

    .total {
      position: absolute;
      bottom: -11px;
      left: 50%;
      transform: translateX(-50%);
      border: 1px solid gray;
      width: 30px;
      text-align: center;
      background: $gray-050;
      color: $primary;
    }
  }
}
