*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-size: 12px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.rjsf {
  width: 100%;
  padding: 2rem;

  .btn-add:before {
    content: "Add";
  }
  .array-item-remove:before {
    content: "Remove";
  }
}
